.propImage{
    overflow: hidden;
}

.imgWrapper{
    overflow: hidden;
    position: relative;
}

.card:hover img{
    transform: scale(1.10,1.10);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.card img{
    transform: scale(1.00,1.00);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.member-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.imgWrapper:hover .member-icons{
    bottom: 0;
}

.button-animation{
    transition: all 0.3s ease-in-out;
}